= render 'layouts/header'
.wrapper
  %h1 プロフィールの作成・更新
  .profile_form
    =form_for @profile do |f|
      %p Email address
      =f.text_field :email, require: true
      %p 名前
      =f.text_field :name, require: true
      %p 年齢
      =f.select :birth_year, [['1988', '1988'], ['1989', '1989'], ['1990', '1990'], ['1991', '1991'], ['1992', '1992'], ['1993', '1993'], ['1994', '1994'], ['1995', '1995'], ['1996', '1996'], ['1997', '1997'], ['1998', '1998'], ['1999', '1999'], ['2000', '2000']], require: true
      =f.select :birth_month, [['1月', '1月'], ['2月', '2月'], ['3月', '3月'], ['4月', '4月'], ['5月', '5月'], ['6月', '6月'], ['7月', '7月'], ['8月', '8月'], ['9月', '9月'], ['10月', '10月'], ['11月', '11月'], ['12月', '12月']], require: true
      =f.select :birth_day, [['1', '1'], ['2', '2'], ['3', '3'], ['4', '4'], ['5', '5'], ['6', '6'], ['7', '7'], ['8', '8'], ['9', '9'], ['10', '10'], ['11', '11'], ['12', '12'], ['13', '13'],['14', '14'],['15', '15'],['16', '16'],['17', '17'],['18', '18'],['19', '19'],['20', '20'],['21', '21'],['22', '22'],['23', '23'],['24', '24'],['25', '25'],['26', '26'],['27', '27'],['28', '28'],['29', '29'],['30', '30'],['31', '31']], require: true
      %p 性別
      =f.select :sex, [['男性', 'male'], ['女性', 'female']], require: true
      %p 学校名
      =f.text_field :school, require: true
      =f.submit '登録する'

