h2
  | ユーザー登録
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
  .field
    = f.label :password
    - if @minimum_password_length
      em
        | (
        = @minimum_password_length
        |  文字以上で入力してください)
    br
    = f.password_field :password, autocomplete: "new-password", class: 'form-control'
  .field
    = f.label :password_confirmation
    br
    = f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control'
  .actions
    = f.submit "登録", class: 'btn btn-success'
= render "devise/shared/links"
