<h1>Edit the interview</h1>

<%= form_for [@user, @interview] do |f| %>

  <%= f.label :interview_date, "Interview Date" %><br>
  <%= f.datetime_select :interview_date %>

  <%= f.submit "Update the interview" %>
<% end %>
