/*!
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
    TODO will need to remove settings on HTML since we can't namespace it.
    TODO with the prefix, should I group by selector or property for weight savings?
*/
/* line 11, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
html {
  color: #000;
  background: #FFF;
}

/*
    TODO remove settings on BODY since we can't namespace it.
*/
/*
    TODO test putting a class on HEAD.
        - Fails on FF.
*/
/* line 22, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

/* line 50, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 54, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
fieldset,
img {
  border: 0;
}

/*
    TODO think about hanlding inheritance differently, maybe letting IE6 fail a bit...
*/
/* line 61, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

/* line 74, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
ol,
ul {
  list-style: none;
}

/* line 79, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
caption,
th {
  text-align: left;
}

/* line 83, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

/* line 92, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
q:before,
q:after {
  content: '';
}

/* line 96, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
/* line 102, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
sup {
  vertical-align: text-top;
}

/* line 105, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
sub {
  vertical-align: text-bottom;
}

/* line 108, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
/* line 116, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
/* line 122, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
/* line 126, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_reset.scss */
#yui3-css-stamp.cssreset {
  display: none;
}

/* line 1, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_index.scss */
.header {
  width: 100%;
  height: 70px;
}
/* line 5, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_index.scss */
.header .menu-list {
  display: flex;
  padding: 30px 50px 0;
}
/* line 10, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/_index.scss */
.header .menu {
  margin-right: 20px;
}

/* line 1, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/profiles/_new.scss */
.wrapper {
  height: 1000px;
  margin: 30px;
}

/* line 6, /Users/inakazumiku/projects/e-navigator/app/assets/stylesheets/profiles/_new.scss */
h1 {
  font-size: 30px;
  font-weight: bold;
}
