<div class="">
<%= form_tag("/login") do %>
<p>email</p>
<input type="text" name="email" value="">
<p>password</p>
<input type="password" name="password" value="">
<input type="submit"　value="送信する">
<% end %>

</div>
