<div class="">
  <%= form_tag("/users/create") do %>
  <ul>
    <li>aa</li>
    <p>name</p>
    <input type="text" name="name" value="">
    <p>age</p>
    <input type="text" name="age" value="">
    <p>sex</p>
    <input type="text" name="sex" value="">
    <p>school_name</p>
    <input type="text" name="school_name" value="">
    <p>email</p>
    <input type="text" name="email" value="">
    <p>password</p>
    <input type="password" name="password" value="">
    <input type="submit" name="" value="登録する">
  </ul>
  <% end %>


</div>
