<div class="jumbotron mt-5">
  <div class="container">
    <h1 class="display-3">e-Navigator</h1>
    <p>e-Navigatorは面談日程調整アプリケーションです。</p>
    <p>
      <%= link_to '新規登録', signup_path, class: 'btn btn-primary btn-lg mr-2', role: 'button' %>
      <a class="btn btn-success btn-lg" href="#" role="button">ログイン &raquo;</a>
    </p>
  </div>
</div>