<div>

<%= form_tag("/user/create") do %>
<div class="register">
  <p>メールアドレス</p>
  <input name="email">
  <p>パスワード</p>
  <input name="password" type="password">
  <input type="submit">
</div>
<% end %>

</div>
