table {
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: #e9ecef;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


.table-bordered {
    border: 1px solid #e9ecef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #e9ecef
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.text-center {
    text-align: center !important;
}
