/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 /* メニューバー */
 nav.menubar {
   padding: 2px;
   background-color: #000;
   color: #ccc;
   font-size: 80%;
   padding: 8px 16px;
 }

 nav.menubar ul li:not(:last-child):after {
   color: #ccc;
   content: " | ";
   margin: 0 2px;
 }

 /* メニューバーのリンク */
 nav.menubar a { text-decoration: none; }

 /* メニューバーのリンク（未訪問） */
 nav.menubar a:link { color: #ccc; }

 /* メニューバーのリンク（訪問済） */
 nav.menubar a:visited { color: #ccc; }

 /* メニューバーのリンク（マウスを合わせたとき） */
 nav.menubar a:hover {
   color: #f88;
   text-decoration: underline;
 }
