// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

// user form
.bootstrap-date {
  display: inline-block;
  width: auto;
}

.bootstrap-gender {
  width: auto;
}

.btn {
  margin: 10px 0 ;
}

label {
  font-size: 16px;
  padding: 5px;
}
