<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to 'e-Navigator', root_path, class: 'navbar-brand col-sm-3 col-md-2 mr-0'%>
  <% if logged_in? %>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <%= link_to 'ログアウト', logout_path, method: :delete, class: 'nav-link' %>
      </li>
    </ul>
    <% end %>
</nav>
